.aboutus-text{
    font-size: 20px;
    line-height: 30px;
}
.max-img600{
    max-width: 600px;
}
.max-img406{
    max-width: 406px;
}
.pad4{
    padding: 4px !important;
}
.contact_us {
    max-width: 690px;
    margin: 0 auto;
}
.contact_us h2 {
    font-size: 3em;
    color: #0d0d0d;
    font-weight: bold;
}
.contact_us p {
    font-size: 2em;
}
@media (max-width: 700px){
    .aboutus-text{
        font-size: 1em;
        line-height: 1.5em;
    }
    .contact_us h2{
        font-size: 1.5em;
    }
    .contact_us p{
        font-size: 1em;
    }
}