@media (max-width: 900px) {
    .size12{
        font-size: 0.75em !important;
    }
    .size14{
        font-size: 0.875em !important;
    }
    .size16{
        font-size: 1em !important;
    }
    .size18{
        font-size: 1.125em !important;
    }
    .size20{
        font-size: 1.1em !important;
    }
    .size22{
        font-size: 1.375em !important;
    }
    .size24{
        font-size: 0.6em !important;
    }
    .size26{
        font-size: 1.2em !important;
    }
    .size28{
        font-size: 1.75em !important;
    }
    .size30{
        font-size: 1.3em !important;
    }
    .size32{
        font-size: 2em !important;
    }
    .size34{
        font-size: 2.125em !important;
    }
    .size36{
        font-size: 1.8em !important;
    }
    .size38{
        font-size: 2.375em !important;
    }
    .size40{
        font-size: 2.5em !important;
    }
    .size50{
        font-size: 1.6em !important;
    }
}
.img-ms{
    width: 100%;
    max-width: 291px;
}
.img-ms167{
    width: 100%;
    max-width: 167px;
}
.img-ms270{
    width: 100%;
    max-width: 270px;
}
.img-ms238{
    width: 100%;
    max-width: 238px;
}
@media (max-width: 768px) {
    .img-ms {
    width: 60%;
    }
    .img-ms167{
        width: 60%;
    }
    .img-ms270{
        width: 40%;
    }
    .img-ms238{
        width: 40%;
    }
    .max-wth500 {
        width: 60%;
    }
}
.bg{
    width: 100%;
    background: #f7f9fb;
    padding: 20px 0;
}
.max-wth500{
    max-width: 500px;
}
.bgg{
    width: 100%;
    background: url("../images/hardware/bg.jpg");
}
.parameter{
    background: none !important;
    border: 0 !important;
    box-shadow:0 !important;
}
.parameter td{
    border-top: 0 !important;
    padding: 6px !important;
}
.parameter .table-responsive{
    border: 0 !important;
}

@-webkit-keyframes sig-ripple {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        filter: alpha(opacity=0); }
}
@-moz-keyframes sig-ripple {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        filter: alpha(opacity=0); }
}
@keyframes sig-ripple {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0); }
    50% {
        opacity: 1;
        filter: alpha(opacity=100); }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        filter: alpha(opacity=0); }
}
.animate-boxs{
    width: 100%;
    position: relative
}
.center-img{
    position: absolute;
    width: 100%;
    max-width: 145px;
    top: 23%;
    left: 35%;
    z-index: 3;
}
.animate-img{
    width: 100%;
    max-width: 400px;
    z-index: 0;
    -webkit-animation: sig-ripple 2.5s ease infinite;
    -moz-animation: sig-ripple 2.5s ease infinite;
    -o-animation: sig-ripple 2.5s ease infinite;
    animation: sig-ripple 2.5s ease infinite;
}
.load-btn-img {
    padding-top: 36px;
    padding-bottom: 36px;
    border-right: 1px solid #dfdfdf;
}