.img-boxs {
    width: 100%;
    overflow: hidden;
    border: 1px solid #bbb;
    position: relative;
}
.img-boxs img {
    width: 100%;
}
.max-wth440{
    max-width: 440px;
}
.partner-text-boxs {
    position: absolute;
    left: 50%;
    bottom: -100%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    z-index: 4;
}
.partner-text-bg {
    position: relative;
    width: 100%;
    height: 100%;
}
.partner-text-bg .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    filter:alpha(opacity=50);
    -webkit-opacity:0.5;
    -moz-opacity:0.5;
    -ms-opacity:0.5;
    -o-opacity:0.5;
    opacity:0.5;
    z-index: 5;
}
.partner-text-bg .text {
    width: 100%;
    /* height: 100%; */
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    color: #fff;
    z-index: 6;
}
.img-boxs:hover .partner-text-boxs{
    bottom:0;
}
.bgd9 {
    background: #d9d9d9;
    padding-top: 100px;
    padding-bottom: 150px;
}
.contact_us {
    max-width: 690px;
    margin: 0 auto;
}
.contact_us h2 {
    font-size: 3em;
    color: #0d0d0d;
    padding-bottom: 50px;
}
.contact_us p {
    font-size: 2em;
}
@media (max-width: 700px){
    .bgd9{
        padding-top: 1em;
        padding-bottom: 1.2em;
    }
    .contact_us h2{
        font-size: 1.5em;
        padding-bottom: 1em;
    }
    .contact_us p{
        font-size: 1em;
    }
}
.hardware-models [data-model="6"]  img{
    -webkit-animation: wobble 0.3s linear 1s 2 forwards;
    animation: wobble 0.3s linear 1s 2 forwards;
}
.hardware-models [data-model="7"]  img{
    -webkit-animation: wobble 0.3s linear 1s 2 forwards;
    animation: wobble 0.3s linear 1s 2 forwards;
}

@-webkit-keyframes wobble {
    25% { -webkit-transform: rotate(4deg); }
    75% { -webkit-transform: rotate(-2deg); }
}

@keyframes wobble {
    25% { transform: rotate(4deg); }
    75% { transform: rotate(-2deg); }
}
