.bg{
    width: 100%;
    /*padding: 100px 0;*/
    background: url("../images/platform_cloud/bg.jpg");
}
.colorda0{
    color: #da0101;
}
.username, .password{
    /*padding-left: 30px;*/
    padding: 15px 15px 15px 50px;
    height: 60px;
    font-size: 18px;
    color: #bbb;
    margin: 10px 0;
}
.username{
    background: #fff url("../images/platform_cloud/user.png") no-repeat 15px center;
}
.password{
    background: #fff url("../images/platform_cloud/password.png") no-repeat 15px center;
}
.checkbox-inline input[type="checkbox"] {
    margin: 6px 0 0;
    margin-left: -20px;
    width: 18px;
    height: 18px;
}
.btn-submit{
    width: 100%;
    height: 60px;
    margin: 20px 0;
    color: #fff;
    font-size: 24px;
    background: #4f4f4f;
    -webkit-box-shadow: 0px 4px 0px #1d1d1d;
    -moz-box-shadow: 0px 4px 0px #1d1d1d;
    -o-box-shadow: 0px 4px 0px #1d1d1d;
    box-shadow: 0px 4px 0px #1d1d1d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -border-radius: 5px;
}
.load-btn-img {
    padding-top: 36px;
    padding-bottom: 36px;
    border-right: 1px solid #dfdfdf;
}