.bgg {
    width: 100%;
    background: url("../images/open/bg.jpg");
}
.img-boxs h1{
    font-size: 100px;
    color: #cecece;
    margin: 60px 0;
}
.img-boxs img{
    max-width: 167px;
}
@media (max-width: 700px){
    .img-boxs h1{
        font-size: 3em;
        margin: 1em 0;
    }
}