section.parameter.row .icon{
  padding-left: 155px;
}
section.parameter.row .param-string{
  padding: 15px;
}
/*
@media (min-width:990px) {
  section.parameter.row .icon{
    padding-left: 155px;
  }
  section.parameter.row .param-string{
    padding: 15px;
  }
}
@media (max-width:990px) {
  section.parameter.row .icon{
    padding: 0 20%;
  }
  section.parameter.row .param-string{
    padding: 0 21%;
  }
}
*/
.en section.parameter.row .icon div{
  padding:20px 10px;
}

section.parameter.row .icon div{
  padding:14px 10px;
}

section.parameter.row .icon  img{
  width: 90px;
}

section.parameter.row .param-string dd{
  margin: 2px;
  line-height: 1.45;
  margin-bottom: 10px;
}
section.row.buy{
  overflow: hidden;
}
section.row.buy h1{
  font-size: 60px;
}
section.row.buy .package {
  background: transparent url(../images/package-inner.png) center center no-repeat;
  background-size: 78%;
  height: 400px;
}
section.row.buy .package img {
  position: relative;
  top: 53px;
  left: 0px;
  width: 685px;
}
section.row.buy h1 span{
  font-size: 40px;
  position: absolute;
  margin-top: 23px;
}
section.buy .col-md-12{
  text-align:center;
}
section.buy .col-md-12 .order-btn{
  display: inline-block;
}
section.buy .col-md-12 .certificates{
  padding-top: 100px;
}
section.buy .col-md-12 .certificates img{

}
section.buy .col-md-12 .certificates img.rohs{
  height: 72px;
  margin-bottom: -9px;
  display:none;
}
section.buy .col-md-12 .certificates span.cert{
  position: absolute;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 15px;
}
section.buy .col-md-12 .certificates img.ce{
  height: 65px;
  margin-top:50px;
}
section.buy .col-md-12 .certificates img.fcc{
  margin:0px 10px 0px 10px;
  height: 70px;
  margin-top:40px;
}
section.buy .col-md-12 .certificates img.iBeacon{
  height:85px;
}
.row.hardware .hardware-small.visible-xs-block.visible-sm-block .col-md-12.text-center strong{
  font-weight: bold;
  font-size: large;
}
.row.hardware .hardware-small.visible-xs-block.visible-sm-block .col-md-12 img{
  width: 60%;
  margin: 25 auto;
  display: block;
}
.hardware-models  {
  position: relative;
  height: 2600px;
  top:74px;
}
.hardware-small.visible-xs-block.visible-sm-block img{
  width:95%;
}

.hardware-models [data-model]  {
  position: absolute;
  left: 40%;
  margin-left: -139px;
  width: 278px;
  text-align: center;
  line-height: 174px;
  height: 174px;
  z-index: 1;
    display: none;
    /*animation:animated_div 2s;*/
    /*-moz-animation:animated_div 2s;*/
    /*-webkit-animation:animated_div 2s;*/
    /*-o-animation:animated_div 2s;*/
    /*left: 50%;*/
    /*bottom: -100%;*/
    /*width: 100%;*/
    /*height: 100%;*/


}
@keyframes animated_div
{
    0%		{width:0px;top:-0px;}
    25%		{width:100px;top:-20px;}
    50%		{width:200px;top:-40px;}
    55%		{width:300px;top:-60px;}
    70%		{width:400px;top:-80px;}
    100%	{width:440px;top:-100px;}
}

@-webkit-keyframes animated_div
{
    0%		{width:0px;top:-0px;}
    25%		{width:100px;top:-20px;}
    50%		{width:200px;top:-40px;}
    55%		{width:300px;top:-60px;}
    70%		{width:400px;top:-80px;}
    100%	{width:440px;top:-100px;}
}

@-moz-keyframes animated_div
{
    0%		{width:0px;top:-0px;}
    25%		{width:100px;top:-20px;}
    50%		{width:200px;top:-40px;}
    55%		{width:300px;top:-60px;}
    70%		{width:400px;top:-80px;}
    100%	{width:440px;top:-100px;}
}

@-o-keyframes animated_div
{
    0%		{width:0px;top:-0px;}
    25%		{width:100px;top:-20px;}
    50%		{width:200px;top:-40px;}
    55%		{width:300px;top:-60px;}
    70%		{width:400px;top:-80px;}
    100%	{width:440px;top:-100px;}
}
.hardware-models [data-model="1"]{
    z-index: 10;
}
.hardware-models [data-model="1"] img{
    z-index: 10;
    width: 224px;
    height: 262px;
}
.hardware-models [data-model="2"]{
    z-index: 10;
    width: 524px;
    /*height: 168px;*/
}
.hardware-models [data-model="2"]  img{
  z-index: 10;
    width: 524px;
    /*height: 168px;*/
}

.hardware-models [data-model="3"] {
  z-index: 10;
    width: 232px;
    height: 187px;
}
.hardware-models [data-model="3"]  img{
    z-index: 10;
    width: 232px;
    height: 187px;
}
.hardware-models [data-model="4"]  img{
  z-index: 10;
    width: 437px;
    height: 337px;
}
.hardware-models [data-model="4"] {
    z-index: 10;
    width: 437px;
    height: 337px;
}
.hardware-models [data-model="5"] {
  z-index: 10;
    width: 371px;
    height: 402px;
}
.hardware-models [data-model="5"]  img{
    z-index: 10;
    width: 371px;
    height: 402px;
}
.hardware-models [data-model="6"]{
    z-index: 5;
    width: 370px;
    height: 59px;
    display: block;
    left: 41%;
}
.hardware-models [data-model="6"]  img{
      z-index: 5;
      width: 370px;
      height: 59px;
      display: block;
  }
.hardware-models [data-model="7"]{
    z-index: 12;
    width: 781px;
    height: 445px;
    display: block;
}
.hardware-models [data-model="7"]  img{
    z-index: 12;
    width: 749px;
    height: 426px;
    display: block;
}
.show1{
    width: 8px;
    height: 8px;
    position: absolute;
    left: 43%;
    top: 130px;
}
.show2{
    width: 8px;
    height: 8px;
    position: absolute;
    left: 43%;
    top: 400px;
}
.show6{
    width: 396px;
    height: 222px;
    position: absolute;
    left: 40%;
    top: 20px;
}
.hardware-desc {
  position: absolute;
  left: 50%;
  top: 410px;
  margin-left: -500px;
  width: 1000px;
  height: 2600px;
}

.hardware-desc .playground {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
}

.hardware-desc div {
  position: absolute;
  text-align: left;
  font-size: 16px;
  width: 250px;
}

.hardware-desc div {
  display: none;
}

.hardware-desc div p {
  margin: 0 ;
  font-size: 16px;
}

.hardware-desc div p.title {
  font-size: 24px;
}

.hardware-desc div:nth-child(1) {
  right: 0;
  top: 16px;
}

.hardware-desc div:nth-child(2) {
  right: 0px;
  top: 150px;
}

.hardware-desc div:nth-child(3) {
    left: 0px;
    top: 16px;
}

.hardware-desc div:nth-child(4) {
  left: 100px;
  top: 632px;
}
.hardware-desc div:nth-child(5) {
  left: 400px;
  top: 632px;
}

.hardware-desc div:nth-child(6) {
  left: 700px;
  top: 632px;
}
.hardware-desc div:nth-child(7) {
    left: 60px;
    top: 1195px;
}

.hardware-desc div:nth-child(8) {
    right: 30px;
    top: 1150px;
}
.hardware-desc div:nth-child(9) {
    left: 60px;
    top: 1370px;
}
.hardware-desc div:nth-child(10) {
    right: 20px;
    top: 1700px;
}
.hardware-desc div:nth-child(11) {
    left: 0px;
    top: 1800px;
}
.hardware-desc div:nth-child(12) {
    right: 0px;
    top: 1900px;
}
section.brand.row .customization{
  padding-top:100px;
  background: transparent url(../images/brand.png) center 290px no-repeat;
  background-size: 55%;
  height: 530px;
}